{% extends "base.html" %}
{% set active_page = "home" %}
{% set page_title = "Home" %}
{% block body %}
<div class="container">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">B</span>
    <p class="lead">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</p>
    <p class="lead">
      <a href="getting-started#download" class="btn btn-outline-inverse btn-lg" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 3.3.4');">Download Bootstrap</a>
    </p>
    <p class="version">Currently v3.3.4</p>
  </div>
{% endblock %}
