{% extends "base.html" %}
{% block body %}
<script>
$(function() {
  var check_pass = function() {
    var err = "";
    if (!$('#password').val().match(/^(?=.*\d)(?=.*[a-zA-Z]).{6,48}$/)){
    err += "Password must contain at least 6 characters long and have one character and one number<br>";
    }
    if ($('#password').val() != $('#password-confirm').val()){
      err += "Passwords must match";
    }
    $("#passwordHelp").html(err);
    if (err.length == 0) {
      $("#passwordHelp").hide();
    } else {
      $("#passwordHelp").show();
    }
  }

  $('#password-confirm').change(check_pass);
  $('#password').change(check_pass);
});
</script>
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <div class="col-md-12 col-md-offset-2">
  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for txt in errors %}
      <li><b>{{ txt }}</b></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <h1>Register</h1>
  <br>
  <form role="form" method="post">
    <div class="form-group">
      <label for="emailaddress" class="col-md-2">
        Email address:
      </label>
      <div class="col-md-10">
        <input type="email" class="form-control" value="{{ request.form.get('email', '') }}" name="email" placeholder="Enter email address">
        <p class="help-block">
          Example: yourname@example.com
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-2">
        Password:
      </label>
      <div class="col-md-10">
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-2">
        Confirm Password:
      </label>
      <div class="col-md-10">
        <input type="password" class="form-control" name="password-confirm" id="password-confirm" placeholder="Enter Password">
        <p class="help-block" style="display:none; font-weight:bold;" id="passwordHelp"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <p class="help-block">By registering you agree to our terms and conditions</p>
      </div>
    </div>
 
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-10">
      <button type="submit" class="btn btn-info">
        Register
      </button>
    </div>
  </form>
</div>
{% endblock %}
