{% extends "base.html" %}
{% set active_page = "reset" %}
{% set page_title = "Reset Your Password" %}
{% block body %}
<div class="container">
  <div class="col-md-12 col-md-offset-2">
  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for txt in errors %}
      <li><b>{{ txt }}</b></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <h1>Reset</h1>
  <br>
  <form role="form" method="post" novalidate>
    <div class="form-group">
      <label for="emailaddress" class="col-md-2">
        Email address:
      </label>
      <div class="col-md-10">
        <input type="email" class="form-control" value="{{ request.form.get('email', '') }}" name="email" placeholder="Enter email address">
      </div>
    </div>
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-10">
      <button type="submit" class="btn btn-info">
        Send me and email
      </button>
    </div>
  </form>
</div>
{% endblock %}
